<app-header></app-header>
<section class="bg-primary padding-y-sm">
  <div class="container">

    <ol class="breadcrumb ondark mb-0">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Library</a></li>
      <li class="breadcrumb-item active" aria-current="page">Data</li>
    </ol>

  </div> <!-- container //  -->
</section>
<!-- ============== SECTION PAGETOP END// ============== -->
<!-- ============== SECTION CONTENT ============== -->
<section class="padding-y">
  <div class="container-fluid">

    <div class="row margin">
      <aside class="col-lg-8">
        <article class="gallery-wrap">
          <div *ngIf="product.previewPictures.length!=0;then hasPreviewPictures else noPreviewPictures"></div>
          <ng-template #noPreviewPictures>
            <div class="img-big-wrap img-thumbnail">

              <img height="560" width="1000" src="https://cdn.mos.cms.futurecdn.net/TdaG9Gex57AHnRZG79wYKT.jpg">

              <div class="preview_count">0/0</div>
            </div> <!-- img-big-wrap.// -->
            <div class="thumbs-wrap">
            </div> <!-- thumbs-wrap.// -->
          </ng-template>
          <ng-template #hasPreviewPictures>
            <div class="img-big-wrap img-thumbnail">
              <img src="https://cdn.mos.cms.futurecdn.net/TdaG9Gex57AHnRZG79wYKT.jpg">
              <div class="preview_count">1/10</div>
            </div> <!-- img-big-wrap.// -->
            <div class="thumbs-wrap" style="background-color: #f8f9fa;border: 1px solid black; padding: 5px;">
              <div class="thumbs_row">
                <div class="thumb_column" *ngFor="let pic of product.previewPictures; index as i" (click)="onChooseImage(pic)">
                  <div class="thumb_content" style="background-image:url({{getPreviewPictureSource(pic)}});"></div>
                </div>
              </div>

            </div> <!-- thumbs-wrap.// -->
          </ng-template>
        </article> <!-- gallery-wrap .end// -->
        <section class="padding-y bg-light border-top" style="margin-top:20px">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <!-- =================== COMPONENT SPECS ====================== -->
                <div class="card">
                  <header class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                      <li class="nav-item">
                        <a href="#" data-bs-target="#tab_specs" data-bs-toggle="tab" class="nav-link active">Specification</a>
                      </li>
                      <li class="nav-item">
                        <a href="#" data-bs-target="#tab_warranty" data-bs-toggle="tab" class="nav-link">Warranty info</a>
                      </li>
                      <li class="nav-item">
                        <a href="#" data-bs-target="#tab_shipping" data-bs-toggle="tab" class="nav-link">Shipping info</a>
                      </li>
                      <li class="nav-item">
                        <a href="#" data-bs-target="#tab_seller" data-bs-toggle="tab" class="nav-link">Seller profile</a>
                      </li>
                    </ul>
                  </header>
                  <div class="tab-content">
                    <article id="tab_specs" class="tab-pane show active card-body">
                      <p>With supporting text below as a natural lead-in to additional content. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                      <ul class="list-check cols-two">
                        <li>Some great feature name here </li>
                        <li>Lorem ipsum dolor sit amet, consectetur </li>
                        <li>Duis aute irure dolor in reprehenderit </li>
                        <li>Optical heart sensor </li>
                        <li>Easy fast and ver good </li>
                        <li>Some great feature name here </li>
                        <li>Modern style and design</li>
                      </ul>
                      <table class="table border table-hover">
                        <tr>
                          <th>  Display: </th>
                          <td> 13.3-inch LED-backlit display with IPS </td>
                        </tr>
                        <tr>
                          <th>  Processor capacity: </th>
                          <td> 2.3GHz dual-core Intel Core i5 </td>
                        </tr>
                        <tr>
                          <th>  Camera quality: </th>
                          <td>720p FaceTime HD camera  </td>
                        </tr>
                        <tr>
                          <th>  Memory </th>
                          <td> 8 GB RAM or 16 GB RAM </td>
                        </tr>
                        <tr>
                          <th>  Graphics </th>
                          <td> Intel Iris Plus Graphics 640 </td>
                        </tr>
                      </table>
                    </article> <!-- tab-content.// -->
                    <article id="tab_warranty" class="tab-pane card-body">
                      Tab content or sample information now <br>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                      proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    </article>
                    <article id="tab_shipping" class="tab-pane card-body">
                      Another tab content  or sample information now <br>
                      Dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </article>
                    <article id="tab_seller" class="tab-pane card-body">
                      Some other tab content  or sample information now <br>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                      cillum dolore eu fugiat nulla pariatur.  Excepteur sint occaecat cupidatat non
                      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </article>
                  </div>
                </div>
                <!-- =================== COMPONENT SPECS .// ================== -->
              </div> <!-- col.// -->
              <aside class="col-lg-4">
                <!-- =================== COMPONENT ADDINGS ====================== -->
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Similar items</h5>

                    <article class="itemside mb-3">
                      <a href="#" class="aside">
                        <img src="assets/images/items/8.webp" width="96" height="96" class="img-md img-thumbnail">
                      </a>
                      <div class="info">
                        <a href="#" class="title mb-1"> Rucksack Backpack Large <br> Line Mounts </a>
                        <strong class="price"> $38.90</strong> <!-- price.// -->
                      </div>
                    </article>

                    <article class="itemside mb-3">
                      <a href="#" class="aside">
                        <img src="assets/images/items/9.webp" width="96" height="96" class="img-md img-thumbnail">
                      </a>
                      <div class="info">
                        <a href="#" class="title mb-1"> Summer New Men's Denim <br> Jeans Shorts  </a>
                        <strong class="price"> $29.50</strong> <!-- price.// -->
                      </div>
                    </article>

                    <article class="itemside mb-3">
                      <a href="#" class="aside">
                        <img src="assets/images/items/10.webp" width="96" height="96" class="img-md img-thumbnail">
                      </a>
                      <div class="info">
                        <a href="#" class="title mb-1"> T-shirts with multiple colors, for men and lady </a>
                        <strong class="price"> $120.00</strong> <!-- price.// -->
                      </div>
                    </article>

                    <article class="itemside mb-3">
                      <a href="#" class="aside">
                        <img src="assets/images/items/11.webp" width="96" height="96" class="img-md img-thumbnail">
                      </a>
                      <div class="info">
                        <a href="#" class="title mb-1"> Blazer Suit Dress Jacket for Men, Blue color </a>
                        <strong class="price"> $339.90</strong> <!-- price.// -->
                      </div>
                    </article>

                  </div> <!-- card-body .// -->
                </div> <!-- card .// -->
                <!-- =================== COMPONENT ADDINGS .// ================== -->
              </aside> <!-- col.// -->
            </div>
            <br><br>
          </div><!-- container // -->
        </section>
      </aside>
      <main class="col-lg-4">
        <article class="ps-lg-3">
          <h4 class="title text-dark">{{product.name}} </h4>
          <div class="rating-wrap my-3">
            <ul class="rating-stars">
              <li style="width:80%" class="stars-active"> <img src="assets/images/misc/stars-active.svg" alt=""> </li>
              <li> <img src="assets/images/icons/star-7207.svg" alt=""> </li>
            </ul>
            <b class="label-rating text-warning"> Total Star</b>
            <i class="dot"></i>
            <span class="label-rating text-muted">Total Rate</span>
            <i class="dot"></i>
            <span class="label-rating text-success">Total Purchased</span>
          </div> <!-- rating-wrap.// -->

          <div class="mb-3">
            <var class="price h5">{{product.price}}<small>VND</small></var>

          </div>
          <div>
            <p>{{product.description}}</p>
          </div>
          <hr>
          <div class="row metadata">
            <div class="row metadata_details" style="margin-top:10px;">
              <div class="col-4"><label>Phân loại</label></div>
              <div class="col-8"><a class="details_value" href="">{{product.category.name}}</a></div>
            </div>
            <div class="row metadata_details">
              <div class="col-4" style="display: flex; align-items: center; "><label>Nhãn</label></div>
              <div class="col-8" style="display:flex;">
                <div class="tags" *ngFor="let tag of product.tags" (click)="searchTag(tag)">
                  <p style=" user-select: none;">{{tag.name}}</p>
                </div>
              </div>
            </div>
            <div class="row metadata_details">
              <div class="col-4"><label>Bản quyền</label></div>
              <div class="col-8"><a class="details_value" href="">Cotton, Jeans</a> </div>
            </div>
            <div class="row metadata_details">
              <div class="col-4"><label>Nhà sản xuất</label></div>
              <div class="col-8" details_value>Reebook </div>
            </div>
          </div>

          <hr>
          <div class="row cart" style="display:flex; height:60px;">
            <div class="add_to_cart" style="width:80%; padding-right:0;"><button class="add_to_cart_btn">Thêm vào giỏ hàng</button></div>
            <div class="buy_now" style="width:20%;"><button class="buy_now_btn">Mua ngay</button></div>
          </div>
          <div class="row files_metadata" style="margin-top:20px;">
            <div class="card">
              <header class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                  <li class="nav-item">
                    <a href="#" data-bs-target="#tab_overview" data-bs-toggle="tab" class="nav-link active">Metadata</a>
                  </li>
                  <li class="nav-item">
                    <a href="#" data-bs-target="#tab_details" data-bs-toggle="tab" class="nav-link">Details</a>
                  </li>
                </ul>
              </header>
              <div class="tab-content">
                <article id="tab_overview" class="tab-pane show active card-body">
                  <table class="table border table-hover">
                    <tr>
                      <th>Số lượng tệp</th>
                      <td>{{product.files.length}} tệp</td>
                    </tr>
                    <tr>
                      <th>Tổng dung lượng</th>
                      <td></td>
                    </tr>
                    <tr>
                      <th>Hướng dẫn tải và cài đặt</th>
                      <td>{{product.instruction || 'Không'}} </td>
                    </tr>
                    <tr>
                      <th>  Memory </th>
                      <td> 8 GB RAM or 16 GB RAM </td>
                    </tr>
                    <tr>
                      <th>  Graphics </th>
                      <td> Intel Iris Plus Graphics 640 </td>
                    </tr>
                  </table>
                </article> <!-- tab-content.// -->
                <article id="tab_details" class="tab-pane card-body">
                  <div *ngFor="let file of product.files" style="margin-bottom:12px;">
                    <strong class="upload_display_name">{{file.name}}</strong>&#183;<span class="file_size">{{formatFileSize(file.size)}}</span>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </article> <!-- product-info-aside .// -->
      </main> <!-- col.// -->
    </div> <!-- row.// -->

  </div> <!-- container .//  -->
</section>
<!-- ============== SECTION CONTENT END// ============== -->
<!-- ============== SECTION  ============== -->
<!-- =============== SECTION  END// ============== -->

<app-footer></app-footer>
