<footer class="section-footer">
    <div class="container">
      <section class="footer-main padding-y">
        <div class="row">
          <aside class="col-6 col-sm-4 col-lg-2">
            <h6 class="title">Store</h6>
            <ul class="list-menu mb-4">
           
            </ul>
          </aside>
          <aside class="col-6 col-sm-4 col-lg-2">
            <h6 class="title">Information</h6>
            <ul class="list-menu mb-4">
            
            </ul>
          </aside>
          <aside class="col-6 col-sm-4  col-lg-2">
            <h6 class="title">Support</h6>
            <ul class="list-menu mb-4">
             
            </ul>
          </aside> 
        </div> <!-- row.// -->
      </section>  <!-- footer-top.// -->
    </div> <!-- container end.// -->
    </footer>
   
