<footer class="section-footer">
    <div class="container-fluid">
      <section class="footer-main padding-y">
        <div class="row">
          <aside class="col-6 col-sm-4 col-lg-1">
            <ul class="list-menu mb-4">
            </ul>
          </aside>
          <aside class="col-6 col-sm-4 col-lg-2">
            <h6 class="title">Thông Tin</h6>
            <ul class="list-menu mb-4">
            </ul>
          </aside>
          <aside class="col-6 col-sm-4  col-lg-2">
            <h6 class="title">Hỗ Trợ</h6>
            <ul class="list-menu mb-4">
            </ul>
          </aside> 
          <aside class="col-6 col-sm-4  col-lg-2">
            <a style="text-decoration: none;color: white;" routerLink="/contact">Liên hệ chúng tôi</a>
            <ul class="list-menu mb-4">
             
            </ul>
          </aside> 
        </div> <!-- row.// -->
      </section>  <!-- footer-top.// -->
    </div> <!-- container end.// -->
    </footer>
   
