<div class="description">
    <h2>Chi tiết báo cáo</h2>
    <div>
        <label>Người báo cáo: </label>
        <b>{{data.username}}</b>
    </div>
    <!-- <div>
        <label>Phiên bản sản phẩm lúc báo cáo: </label>
        <b>{{data.version}}</b>
    </div> -->
    <div>
        <label>Loại vi phạm: </label>
        <b>{{data.violationTypeName}}</b>
    </div>
    <div>
        <label>Nội dung: </label>
        <article>
            <b>{{data.description}}</b>
        </article>
    </div>
    <div>
        <label>Ngày báo cáo: </label>
        <b>{{data.reportedDate | date: 'dd/MM/yyyy HH:mm'}}</b>
    </div>
    <div align="end">
        <button class="dismissBtn" mat-dialog-close>Đóng</button>
    </div>
</div>
