.padded {
  width: 70%;
  margin: auto;
}

.content {
  border-radius: 5px;
  margin-top: 20px;
  background-color: white;
  padding: 35px;
  border: 0.5px solid #d0d0d0;
  min-height: 80vh;
}

.return_link {
  color: #222;
 text-decoration:none;
 font-size:14px;
}

.return_link_div {
  height: inherit;
  padding: 9px;
  width:auto;
  

}

  .return_link_div:hover {
    background-color: #c1bfbf;
    cursor:pointer;
  }
  .return_link_div:hover .return_link {
    color:black;
  }

.return_link_row {
  height: 40px;
  background-color: #f4f4f4;
  user-select: none;
  border-radius:4px;
  padding:0px;
}

.grad {
  min-height: 100vh;
  background-color: #f4f4f4;
}

* {
  box-sizing: border-box
}
.download_btn button {
  background-color: #FF2449;
  border: none;
  color: white;
  padding: 0 10px;
  font-size: 14px;
  text-align: center;
  line-height: 33px;
  font-weight: 600;
  height: 35px;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: inset 0 0 1px rgb(255 255 255 / 21%);
  cursor: pointer;
  border-radius: 3px;
  border: none;
  letter-spacing: 1px;
}

  .download_btn button:active {
    box-shadow: 0 1px #666;
    transform: translateY(3px);
  }

.downloader:hover {
  background-color: #f4f4f4;
}

.downloader{
    padding:10px;
}
