<app-header></app-header>
<div *ngIf="loading">
  <app-loading-spinner></app-loading-spinner>
</div>
<div class="container-fluid grad">
  <div class="row">

    <div class="row padded">
      <div class="row title"><h2>Tạo tài khoản</h2></div>
      <div class="row cols">
        <div class="left_col col-6">
          <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
            <div class="input_row">
              <div><label for="email">Email</label></div>
              <div><input type="text" formControlName="email" id="email"></div>
              <div class="msg">
                <div class="invalid" *ngIf="Form.email.invalid && Form.email.touched">
                  <div *ngIf="Form.email.errors?.['required']"><small>Vui lòng nhập email</small> </div>
                  <div *ngIf="Form.email.errors?.['email']"><small>Email không hợp lệ</small> </div>
                </div>
              </div>
            </div>
            <div class="input_row">
              <div><label for="username">Tên người dùng</label></div>
              <div><input id="username"formControlName="username" (keydown)="onUsernameChange($event)"></div>
              <div class="msg">
                <div class="invalid" *ngIf="Form.username.invalid && Form.username.touched">
                  <div *ngIf="Form.username.errors?.['required']"><small>Vui lòng nhập tên người dùng</small> </div>
                  <div *ngIf="Form.username.errors?.['minlength']||Form.username.errors?.['maxlength']"><small>Tên người dùng phải từ 3 đến 30 ký tự</small> </div>
                </div>
              </div>
            </div>
            <div class="input_row">
              <div><label for="password">Mật khẩu</label></div>
              <div><input (change)="onPasswordMatch()" type="password" formControlName="password" id="password"></div>
              <div class="msg">
                <div class="invalid" *ngIf="Form.password.invalid && Form.password.touched">
                  <div *ngIf="Form.password.errors?.['required']"><small>Vui lòng nhập mật khẩu</small> </div>
                  <div *ngIf="Form.password.errors?.['minlength'] ||Form.password.errors?.['maxlength']">
                    <small>Mật khẩu phải từ 8 đến 30 ký tự</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="input_row">
              <div><label for="repeatPassword">Nhập lại mật khẩu</label></div>
              <div><input (change)="onPasswordMatch()" type="password" formControlName="repeat_password" id="repeatPassword"></div>
              <div class="msg">
                <div class="invalid" *ngIf="!onPasswordMatch()">
                  <small>Mật khẩu không khớp</small><br />
                </div>

              </div>
            </div>
            <button class="submitButton" type="submit" style="margin-right:5px;" [disabled]="registerForm.invalid||!onPasswordMatch()">Tạo tài khoản</button>
            <small>Đã có tài khoản? </small>
            <a routerLink="/login" routerLinkActive="active">Đăng nhập</a>
          </form>
        </div>
        <div class="right_col col-6">Chi tiết</div>
      </div>

    </div>
  </div>
</div>


<ng-template #messageModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" style="color:black">Thông báo</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismissError()"></button>
  </div>
  <div class="modal-body">
    <small style="color:black;">{{message}}<br /></small>
  </div>
</ng-template>

<ng-template #messageModal2 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" style="color:black">Thông báo</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismissError2()"></button>
  </div>
  <div class="modal-body">
    <small style="color:black;">{{message}}<br /></small>
  </div>
</ng-template>
<app-footer></app-footer>


