<h1>Quản lý nhân viên</h1>
<button class="btn btn-primary" (click)="openAddDialog()">Thêm nhân viên</button>
<table datatable class="table table-striped table-bordered table-sm" cellspacing="0" width="100%" id="staffsTable">
    <thead>
      <tr>
        <th class="th-sm">Email

        </th>
        <th class="th-sm">Ngày tạo
  
        </th>
        <th class="th-sm">Trạng thái

        </th>
        <th class="th-sm">Hành động
          
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let staff of staffList">
        <td>
          {{staff.email}}
        </td>
        <td>
          {{staff.accountCreatedDate}}
        </td>
        <td>
          {{staff.enabled}}
        </td>
        <td>
          <div *ngIf="staff.enabled; then toDisable else toEnable"></div>
          <ng-template #toDisable><button class="btn btn-danger" (click)="openUpdateDialog(staff.id, staff.email, staff.enabled)">Tắt</button></ng-template>
          <ng-template #toEnable><button class="btn btn-success" (click)="openUpdateDialog(staff.id, staff.email, staff.enabled)">Bật</button></ng-template>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>
  

      <ng-container matColumnDef="progress">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Progress </th>
        <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
      </ng-container>
  

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>
  

      <ng-container matColumnDef="fruit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fruit </th>
        <td mat-cell *matCellDef="let row"> {{row.fruit}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div> -->

  <!-- <div class="mat-elevation-z1">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let element" class="left-text"> {{element.email}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Ngày tạo">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header> Ngày tạo </th>
        <td mat-cell *matCellDef="let element" class="left-text"> {{element.accountCreatedDate}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Trạng thái">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header> Trạng thái </th>
        <td mat-cell *matCellDef="let element" class="left-text"> {{element.enabled}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5]"></mat-paginator>
</div> -->