.viewProduct {
    border: solid white 1px;
    background-color: #FF2449;
    color: white;
  }
  
    .viewProduct:hover {
      background-color: white;
      border: solid #FF2449 1px;
      color: #FF2449;
      transition: all 0.15s;
    }