<div class="container-fluid grad">
  <div class="row">
  
  <div class="row padded">
    <div class="row title"><h2>Change your password</h2></div>
    <div class="row cols">
      <div class="left_col col-6">
        <form [formGroup] ="changePasswordForm" (submit)="onChangePassword()">
	<div class="input_row">
		<label>Old password:</label>
		<input type="password" formControlName="oldpass">
		<div *ngIf="Form.oldpass.touched && Form.oldpass.invalid">
			<div *ngIf="Form.oldpass.errors?.['required']"><p>Password is required</p></div>
			<div *ngIf="Form.oldpass.errors?.['minlength']||Form.oldpass.errors?.['maxlength']">Password is 8 to 30</div>
		</div>
	</div>
	<div class="input_row">
		<label>New password:</label>
		<input type="password" formControlName="newpass" (change)="onPasswordMatch()">
		<div *ngIf="Form.newpass.touched && Form.newpass.invalid">
			<div *ngIf="Form.newpass.errors?.['required']">Password is required</div>
			<div *ngIf="Form.newpass.errors?.['minlength']||Form.newpass.errors?.['maxlength']">Password is 8 to 30</div>
		</div>
	</div>
	<div class="input_row">
		<label>Re-enter new password:</label>
		<input type="password" formControlName="renewpass" (change)="onPasswordMatch()">
		<div *ngIf="!onPasswordMatch() && Form.renewpass.touched">
			<div>Passwords do not match</div>
		</div>
	</div>
	<div>
		<button type="submit" class="submitButton" [disabled]=" ChangePasswordForm.invalid || !onPasswordMatch()">Confirm change</button>
	</div>
</form>
      </div>
      <div class="right_col col-6">Password must be <b>from 8 to 30</b> characters
      	<br>
      	Please <b>DO NOT</b> tell anyone your password.
      </div>
    </div>
  
  </div>
  </div>
</div>
