<form [formGroup] ="ChangePasswordForm" (submit)="onChangePassword()">
	<div>
		<label>Old password:</label>
		<input type="password" formControlName="oldpass">
		<div *ngIf="Form.oldpass.touched && Form.oldpass.invalid">
			<div *ngIf="Form.oldpass.errors?.['required']"><p>Password is required</p></div>
			<div *ngIf="Form.oldpass.errors?.['minlength']||Form.oldpass.errors?.['maxlength']">Password is 8 to 30</div>
		</div>
	</div>
	<div>
		<label>New password:</label>
		<input type="password" formControlName="newpass" (change)="onPasswordMatch()">
		<div *ngIf="Form.newpass.touched && Form.newpass.invalid">
			<div *ngIf="Form.newpass.errors?.['required']">Password is required</div>
			<div *ngIf="Form.newpass.errors?.['minlength']||Form.newpass.errors?.['maxlength']">Password is 8 to 30</div>
		</div>
	</div>
	<div>
		<label>Re-enter new password:</label>
		<input type="password" formControlName="renewpass" (change)="onPasswordMatch()">
		<div *ngIf="!onPasswordMatch() && Form.renewpass.touched">
			<div>Passwords do not match</div>
		</div>
	</div>
	<div>
		<button type="submit" [disabled]=" ChangePasswordForm.invalid || !onPasswordMatch()">Change</button>
	</div>
</form>

