<div *ngIf="isLoading"><app-loading-spinner></app-loading-spinner></div>
<div class="container" style="margin-top: 3%;">
  <h1>Xác nhận giao dịch</h1>
  <table>
    <thead>
      <tr>
        <th>Mặt hàng</th>
        <th>Giá</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of transaction.cart.items">
        <td>{{item.productDetails.name}}</td>
        <td>{{item.price}}</td>
      </tr>
      <tr>
        <td>Phí</td>
        <td>{{fee}} ({{transaction.fee.percentage}}%)</td>
      </tr>
    </tbody>
  </table>
  <div class="total-amount">
    Tổng: ${{total}}
  </div>
  <div class="" *ngIf="transaction.status==TransactionStatus.FAILED">
    Trạng thái giao dịch: Thất bại
  </div>
  <div class="" *ngIf="transaction.status==TransactionStatus.COMPLETED">
    Trạng thái giao dịch: Thành công
  </div>
  <div class="" *ngIf="transaction.status==TransactionStatus.CREATED || transaction.status==TransactionStatus.APPROVED">
    Trạng thái giao dịch: Chưa thanh toán
  </div>
  <div class="" *ngIf="transaction.status==TransactionStatus.CANCELED">
    Trạng thái giao dịch: Đã hủy
  </div>
  <div class="" *ngIf="transaction.status==TransactionStatus.EXPIRED">
    Trạng thái giao dịch: Hết hạn
  </div>


  <button (click)="executePayment()" class="btn">Thanh toán</button>
  <button (click)="cancelPayment()" class="btn cancel">Hủy</button>
</div>

<ng-template #change let-modal>
  <div class="modal-header">
    <h4 class="modal-title" style="color:black">Thông báo</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismiss()"></button>
  </div>
  <div class="modal-body">
    <div *ngIf="updated.length!=0">
      <div>Có sự thay đổi trong sản phẩm: </div><br />
      <div *ngFor="let update of updated">
        <small style="color: red; font-size: 20px;">- {{update.item}}</small>
      </div>
    </div>
    <div *ngIf="removed.length!=0">
      <div>Sản phẩm không còn khả dụng: </div><br />
      <div *ngFor="let remove of removed">
        <small style="color:red; font-size:20px;">- {{remove.item}}</small>
        <small style="color:red; font-size:20px;">- Giao dịch này đã bị hủy</small>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #infoModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" style="color:black">Thông báo</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismiss()"></button>
  </div>
  <div class="modal-body">
    <small style="color:black;">{{info}}<br /></small>
  </div>
</ng-template>
