<header class="section-header">  
  <section class="header-main">
    <div class="container">
      <div class="row gy-3 align-items-center">
        <div class="col-lg-2 col-sm-4 col-4">
          <a href="http://therichpost.com" class="navbar-brand">
            RichEcom
          </a> <!-- brand end.// -->
        </div>
        <div class="order-lg-last col-lg-5 col-sm-8 col-8">
          <div class="float-end">
            <a href="#" class="btn btn-light"> 
                <i class="fa fa-user"></i>  <span class="ms-1 d-none d-sm-inline-block">Sign in  </span> 
            </a>
            <a href="#" class="btn btn-light"> 
              <i class="fa fa-heart"></i>  <span class="ms-1 d-none d-sm-inline-block">Wishlist</span>   
            </a>
            <a data-bs-toggle="offcanvas" href="#offcanvas_cart" class="btn btn-light"> 
              <i class="fa fa-shopping-cart"></i> <span class="ms-1">My cart </span> 
            </a>
              </div>
        </div> <!-- col end.// -->
        <div class="col-lg-5 col-md-12 col-12">
          <form action="#" class="">
                  <div class="input-group">
                    <input type="search" class="form-control" style="width:55%" placeholder="Search" [value]="keyword">
                    <select class="form-select">
                      <option value="">All type</option>
                      <option value="codex">Special</option>
                      <option value="comments">Only best</option>
                      <option value="content">Latest</option>
                    </select>
                    <button class="btn btn-primary">
                      <i class="fa fa-search"></i> 
                    </button>
                  </div> <!-- input-group end.// -->
                </form>
        </div> <!-- col end.// -->
        
      </div> <!-- row end.// -->
    </div> <!-- container end.// -->
  </section> <!-- header-main end.// -->
  <nav class="navbar navbar-light bg-primary border-top navbar-expand-lg">
    <div class="container">
      <button class="navbar-toggler border" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_main">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbar_main">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link ps-0" href="#"> Categories </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Hot offers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Gift boxes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Menu item</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Menu name</a>
          </li>
          <li class="nav-item dropdown">
            <a class="dropdown-toggle nav-link" href="#" data-bs-toggle="dropdown">
              Others
            </a>
            <ul class="dropdown-menu">
              <li> <a class="dropdown-item" href="#">Submenu one </a> </li>
              <li> <a class="dropdown-item" href="#">Submenu two</a> </li>
              <li> <a class="dropdown-item" href="#">Submenu three</a> </li>
            </ul>
          </li>
        </ul>
      </div> <!-- collapse end.// -->
    </div> <!-- container end.// -->
  </nav> <!-- navbar end.// -->
</header> <!-- section-header end.// -->


<!-- ============== SECTION PAGETOP ============== -->
<section class="bg-primary py-5">
    <div class="container">
      <h2 class="text-white">Kết quả tìm kiếm</h2>
      <!-- <ol class="breadcrumb ondark mb-0">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Library</a></li>
      <li class="breadcrumb-item active" aria-current="page">Data</li>
      </ol> -->
    </div> <!-- container //  -->
    </section>
    <!-- ============== SECTION PAGETOP END// ============== -->
    
    <!-- ============== SECTION CONTENT ============== -->
    <section class="padding-y">
    <div class="container">
    
    <div class="row">
      <aside class="col-lg-3">
    
    <button class="btn btn-outline-secondary mb-3 w-100  d-lg-none" data-bs-toggle="collapse" data-bs-target="#aside_filter">Show filter</button>
    
    <!-- ===== Card for sidebar filter ===== -->
    <div id="aside_filter" class="collapse card d-lg-block mb-5">
      <form>
      <article class="filter-group">
      <header class="card-header">
        <a href="#" class="title" data-bs-toggle="collapse" data-bs-target="#collapse_aside1">
        <i class="icon-control fa fa-chevron-down"></i>   Phân loại sản phẩm 
        </a>
      </header>
      <div class="collapse show" id="collapse_aside1">
        <div class="card-body">
        <ul class="list-menu">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              Tất cả phân loại
            </label>
          </div>
          <div *ngFor="let category of categoryList">
            <!-- <li><a href="#">{{category.name}}</a></li> -->
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
                {{category.name}}
              </label>
            </div>
          </div>
        </ul>
        </div> <!-- card-body.// -->
      </div> <!-- collapse.// -->
      </article> <!-- filter-group // -->
    
      <article class="filter-group">
      <header class="card-header">
        <a href="#" class="title" data-bs-toggle="collapse" data-bs-target="#collapse_aside_brands">
        <i class="icon-control fa fa-chevron-down"></i>  Nhãn sản phẩm 
        </a>
      </header>
      <div class="collapse show" id="collapse_aside_brands">
        <div class="card-body">
          <div *ngFor="let tag of tagList">
            <label class="form-check mb-2">
              <input class="form-check-input" type="checkbox" value="">
              <span class="form-check-label"> {{tag.name}} </span>
              <b class="badge rounded-pill bg-gray-dark float-end">120</b>
              </label>
          </div>
        </div> <!-- card-body .// -->
      </div> <!-- collapse.// -->
      </article>

      <article class="filter-group">
        <header class="card-header">
          <a href="#" class="title" data-bs-toggle="collapse" data-bs-target="#collapse_aside2">
          <i class="icon-control fa fa-chevron-down"></i>  Giá
          </a>
        </header>
        <div class="collapse show" id="collapse_aside2">
          <div class="card-body">
          <!-- <input type="range" class="form-range" min="0" max="100"> -->
          <div class="row mb-3">
            <div class="col-6">
            <label for="min" class="form-label">Min</label>
            <input class="form-control" id="min" placeholder="$0" type="number">
            </div> 
      
            <div class="col-6">
            <label for="max" class="form-label">Max</label>
            <input class="form-control" id="max" placeholder="$1,0000" type="number">
            </div> 
          </div> 
          <button class="btn btn-light w-100" type="button">Áp dụng bộ lọc</button>
          </div>
        </div> 
        </article> 
    </form>

      <!-- <article class="filter-group">
      <header class="card-header">
        <a href="#" class="title" data-bs-toggle="collapse" data-bs-target="#collapse_aside3">
        <i class="icon-control fa fa-chevron-down"></i>  Size 
        </a>
      </header>
      <div class="collapse show" id="collapse_aside3">
        <div class="card-body">
          <label class="checkbox-btn">
          <input type="checkbox">
          <span class="btn btn-light"> XS </span>
          </label>
    
          <label class="checkbox-btn">
          <input type="checkbox">
          <span class="btn btn-light"> SM </span>
          </label>
    
          <label class="checkbox-btn">
          <input type="checkbox">
          <span class="btn btn-light"> LG </span>
          </label>
    
          <label class="checkbox-btn">
          <input type="checkbox">
          <span class="btn btn-light"> XXL </span>
          </label>
        </div> 
      </div> 
      </article>  filter-group // -->
    
      
    
    </div> <!-- card.// -->
    <!-- ===== Card for sidebar filter .// ===== -->
    
      </aside> <!-- col .// -->
      <main class="col-lg-9">
      <header class="d-sm-flex align-items-center border-bottom mb-4 pb-3">
        <div *ngIf="searchResult.length>0;then haveProduct else noProduct"></div>
        <ng-template #haveProduct>
          <strong class="d-block py-2">Có {{searchResult.length}} kết quả cho từ khóa {{keyword}}</strong>
        </ng-template>
        <ng-template #noProduct>
          <strong class="d-block py-2">Không có kết quả cho từ khóa {{keyword}}</strong>
        </ng-template>  
        
        <div class="ms-auto ">
          <select class="form-select d-inline-block w-auto me-1">
            <option value="0">Best match</option>
            <option value="1">Recommended</option>
            <option value="2">High rated</option>
            <option value="3">Randomly</option>
          </select>
          <div class="btn-group">
          <a href="#" class="btn btn-light" data-bs-toggle="tooltip" title="List view"> 
            <i class="fa fa-bars"></i>
          </a>
          <a href="#" class="btn btn-light active" data-bs-toggle="tooltip" title="Grid view"> 
            <i class="fa fa-th"></i>
          </a>
          </div> <!-- btn-group end.// -->
        </div>
      </header>
    
      <!-- ========= content items ========= -->

      <!-- <div *ngIf="productList.length>0;then haveProduct else noProduct"></div>
        <ng-template #haveProduct>
          
        </ng-template>
        <ng-template #noProduct>
        </ng-template> -->
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let product of searchResult">
            <figure class="card card-product-grid">
            <div class="img-wrap"> 
              <img [src]="getCoverImage(product)"> 
            </div>
            <figcaption class="info-wrap border-top">
              <div class="price-wrap">
              <strong class="price">{{product.name}}</strong>
              <!-- <del class="price-old">$170.00</del> -->
              </div> <!-- price-wrap.// -->
              <p class="title mb-2">{{product.price}}VND</p>
              
              <a href="#" class="btn btn-primary" routerLink="/products/{{product.id}}">Chi tiết</a>
              <a href="#" class="btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
            </figcaption>
            </figure>
          </div>
        </div> 
    
      <hr>
  <footer class="d-flex mt-4">
                
                  <nav class="ms-3">
                      <ul class="pagination">
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item active" aria-current="page">
                          <span class="page-link">2</span>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                          <a class="page-link" href="#">Next</a>
                      </li>
                      </ul>
                  </nav>
                  </footer>
                
                </main>
                  </div> 
                  </div> 
                  </section>
