<mat-toolbar>
    <mat-toolbar-row>
        <mat-icon (click)="sidebar.toggle()">menu</mat-icon>
        <span>
            Admin Screen
        </span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidebar mode="side">
        <ul>
            <li>
                <a [routerLink]="['/adminDashboard']">Dashboard</a>
            </li>
            <li>
                <a [routerLink]="['/inspectorList']">Inspectors</a>
            </li>
            <li>
                <a [routerLink]="['/addInspector']">Add Inspector</a>
            </li>
        </ul>
    </mat-sidenav>
    <mat-sidenav-content>
        <div>
            for admin
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>