
<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="sidebar.toggle()">
     <mat-icon>menu</mat-icon>
   </button>
   <span>Hệ thống quản lý DPM dành cho Quản trị viên</span>
   <span class="example-spacer"></span>
   <span>
   <button mat-button (click)="logout()">
     Đăng xuất
   </button>
   </span>
 </mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidebar mode="side">
        <mat-list>
            <mat-list-item (click)="openDashboard()" [ngClass]="{chosenTab :dashboardChosen}"><a>Bảng thông tin</a></mat-list-item>
            <mat-list-item (click)="openManageStaffs()" [ngClass]="{chosenTab :manageStaffChosen}"><a>Quản lý nhân viên</a></mat-list-item>
            <mat-list-item (click)="openCategories()" [ngClass]="{chosenTab :categoriesChosen}"><a>Quản lý phân loại sản phẩm</a></mat-list-item>
            <mat-list-item (click)="openTags()" [ngClass]="{chosenTab :tagsChosen}"><a>Quản lý nhãn sản phẩm</a></mat-list-item>
            <mat-list-item (click)="openReportedseller()" [ngClass]="{chosenTab :reportedSellerChosen}"><a>Quản lý người bán bị báo cáo</a></mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="outletContent">
            <router-outlet [name]="routerName"></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>