<div class="container-fluid grad">
  <div class="row padded" style="width:80%; background:white; margin:auto;margin-bottom:5%;">
    <div class="row" style="border-bottom:0.5px solid grey; margin:auto;">
      <h2>Upload new product</h2>
    </div>
    <form (ngSubmit)="saveProduct()">
      <div class="row" style="margin-top:3%;">
        <div class="row columns">
          <div class="left_col col-8" style="border-right:1px solid black">
            <div class="input_row">
              <div><label for="product_name">Title</label></div>
              <div><input type="text" [(ngModel)]="product.name" id="product_name" name="product_name" /></div>
            </div>
            <div class="input_row description">
              <div><label for="description">Description</label>&#45;<small>Short description for your product</small> </div>
              <div><input id="description" type="text" placeholder="Optional" [(ngModel)]="product.description" name="description" /></div>
            </div>
            <div class="input_row classification_picker">
              <div class="classification_picker_label">
                <div>
                  <label for="type_list">Type</label>
                </div>
                <div>
                  <small>What are you uploading</small>
                </div>
              </div>
              <div class="">
                <select class="classification_picker_body" id="type_list" name="type" [(ngModel)]="product.type">
                  <option value="0" selected>Select product type</option>
                  <option *ngFor="let type of typeList; index as i;" value="{{type.id}}"
                          [attr.selected]="isTypeSelected(type.id)">
                    {{type.name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="input_row tag_picker">
              <div class="tag_picker_label">
                <div><label for="tag_input">Tags</label></div>
                <div><small>Select one or multiple tags. Prefer choose existing tag than create new one</small></div>
              </div>
              <div class="selectize_group">
                <div class="selectize-control tag_input multi plugin-remove_button">
                  <div class="selectize-input items not-full has-options">
                    <select id="tag_input input_row" (change)="onTagSelect($event)" style="padding: 8px; appearance: none;">
                      <option *ngFor="let tag of tagList; index as i;" value="{{tag.id}}">{{tag.name}}</option>
                      <option id="default_tag" value="0" selected>Select one or multiple tags</option>
                    </select>
                  </div>
                  <div class="selectize-dropdown multi tag_input plugin-remove_button">
                    <div class="selectize-dropdown-content">
                      <div class="option"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="selected_tags" style="display:flex;">
                <div class="selected_tag" *ngFor="let tag of product.tags" (click)="onRemoveSelectedTag(tag.id)">
                  <div class="tag_name"><p style=" user-select: none;">{{tag.name}}</p></div>
                  <div class="remove_tag_button"></div>
                </div>

              </div>
            </div>
            <section class="price_picker">
              <h2>Pricing</h2>
              <div class="price_picker_drop">
                <div class="game_edit_price_picker_widget" (click)="onChoosePricingOption($event)">
                  <div class="payment_modes">
                    <button id="clickThis" type="button" class="payment_mode_paid active">
                      <span class="icon"></span>
                      Paid
                    </button>
                    <button type="button" class="payment_mode_no_paid">
                      <span class="icon icon-checkbox-unchecked"></span>
                      No payment
                    </button>
                  </div>
                  <div class="describe">
                    <div class="paid">
                      <div class="input_row">
                        <div><label>Minimum price<span class="sub"> - Minimum price to get access to download this product</span></label></div>
                        <div>
                          <input id="price" type="text" name="minPrice" placeholder="1.000đ" value="1.000" (keydown)="onPriceChange($event)" />
                        </div>
                      </div>
                    </div>
                    <div class="no_payment">
                      <div class="input_row">
                        <div><label>No payments<span class="sub"> - This product is free to download  </span></label></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section class="upload_editor">
              <h2>Uploads</h2>
              <div class="upload_drop">
                <div class="game_edit_upload_list_widget">
                  <div class="file_list has_files">
                    <div class="uploader" *ngFor="let file of product.files;index as i" style="margin-bottom:12px;">
                      <div class="upload_tools">
                        <button class="delete_btn" type="button" (click)="deleteFile(file)">Delete file</button>
                      </div>
                      <div class="upload_content" style="margin:12px;">
                        <div class="upload_title" style="margin-bottom:5px;">
                          <strong class="upload_display_name">{{file.name}}</strong>
                        </div>
                        <div class="meta_data">
                          <span class="file_size">{{formatFileSize(file.size)}}&#183;</span>
                          <span class="move_up_wrap" (click)="moveFileUp(file)"><span>Move up</span>&#183;</span>
                          <span class="move_down_wrap" (click)="moveFileDown(file)"><span>Move down</span></span>
                        </div>
                        <div class="progress">
                          <mat-progress-bar class="progress-bar" mode="determinate" [value]="uploadProgress" *ngIf="uploadProgress"> </mat-progress-bar>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="add_file_btn_outer upload_buttons">
                <div class="button add_file_btn has_multi_upload" (click)="fileUpload.click()">
                  Upload files
                </div>
                <input type="file" class="file-input" (change)="onFileUpload($event)" multiple="multiple" #fileUpload>
              </div>
              <p class="upload_limit">File size limit: 1GB</p>
            </section>
            <h2>Details</h2>
            <div class="input_row">
              <div class="details_text_area_label">
                <div><label for="tag_input">Description</label>&#45;<small>This is the content of your product detail page</small></div>
                <ckeditor [editor]="detailsEditor" [(ngModel)]="productDetails" [ngModelOptions]="{standalone: true}"></ckeditor>
              </div>
            </div>
            <div class="input_row">
              <div class="instruction_text_area_label">
                <div><label for="tag_input">Download and install instruction</label>&#45;<small>Content of a text file come along with this product</small></div>
              </div>
              <textarea id="instruction_details" [value]="product.instruction" style="min-height:200px;width:100%;resize:none"></textarea>
            </div>
            <div class="draft_picker" style="font-weight:600">
              <div class="draft_picker_label">
                <div><label for="draft_pick">Publicity</label></div>
              </div>
              <div class="draft_pick">
                <input id="draft" value="true" type="radio" (click)="onDraftSelect($event)" />
                <label for="draft">Draft</label>&#45;<small>You can edit this product and publish it later</small>
              </div>
              <div>
                <input id="publish" value="false" type="radio" (click)="onDraftSelect($event)" />
                <label for="publish">Publish</label>&#45;<small>This product is publish, others can see it</small>
              </div>
            </div>
            <input type="submit" />
          </div>
          <div class="right_col col-4">
            <div class="cover_uploader drop" id="cover_img_container">
              <div class="upload_container" id="cover_img_div">
                <div class="widget">
                  <div class="add_file_btn_outer upload_buttons no_upload" id="upload_button">
                    <div class="button add_file_btn has_multi_upload" (click)="coverImageUpload.click()">
                      Tải lên
                    </div>
                    <input type="file" class="file-input" (change)="onCoverImageUpload($event)" #coverImageUpload>
                  </div>
                </div>
              </div>
              <div class="upload_coverImage_label"><label for="cover_img_container">Tải lên ảnh bìa sản phẩm. <br /><small>Định dạng: .png, .jpeg hoặc .webp. Kích cỡ khuyến nghị : 630x500</small></label></div>
            </div>
            <div class="preview_pictures drop" id="preview_video_container">
              <div class="upload_container">
                <div *ngIf="product.previewVideo==null||product.previewVideo.id==-1;then noPreviewVideo else hasPreviewVideo"></div>
                <ng-template #hasPreviewVideo>
                  <vg-player style="position: relative;">
                    <video [vgMedia]="$any(media)" #media id="preview_video" preload="auto" controls>
                      <source src="{{getPreviewVideoSource()}}" type="video/mp4">
                    </video>
                    <div class="widget_video" style="position: absolute">
                      <button class="delete_btn2" type="button" (click)="removePreviewVideo()">Gỡ</button>
                    </div>
                  </vg-player>
                </ng-template>
                <ng-template #noPreviewVideo>
                  <div class="widget">
                    <div class="add_file_btn_outer upload_buttons no_upload" id="upload_button">
                      <div class="button add_file_btn has_multi_upload" (click)="previewVideoUpload.click()">
                        Tải lên
                      </div>
                      <input type="file" class="file-input" (change)="onPreviewVideoUpload($event)" #previewVideoUpload>
                    </div>
                  </div>
                </ng-template>
              </div>
              <div class="upload_preview_pictures_label"><label for="preview_video_container">Tải lên video xem trước<br /><small>Định dạng: .mp4, .mkv, .mov, kích thước tối đa: 1GB</small></label> </div>
            </div>
            <div class="preview_pictures drop" id="preview_pictures_container">
              <div class="upload_container" style="position:relative; background-color:white;max-height:500px;">
                <div *ngIf="product.previewPictures.length!=0;then hasPreviewPictures else noPreviewPictures"></div>
                <ng-template #noPreviewPictures>
                  <div class="widget">
                    <div class="add_file_btn_outer upload_buttons no_upload" id="upload_button">
                      <div class="button add_file_btn has_multi_upload" (click)="previewPicturesUpload.click()">
                        Tải lên
                      </div>
                    </div>
                  </div>
                </ng-template>
                <ng-template #hasPreviewPictures>
                  <div class="mySlides" *ngFor="let pic of product.previewPictures; index as i" style="position: relative; width: 100%; height: 205px; background-color: #373030;">
                    <div class="widget_pictures" style="position: absolute;width:100%;">
                      <button class="delete_btn2" type="button" (click)="removePreviewPicture(pic)" id="remove_picture_btn">Gỡ</button>
                      <button class="upload_btn2" type="button" (click)="previewPicturesUpload.click()">Tải lên</button>
                    </div>  
                    <img src="{{getPreviewPictureSource(pic)}}" style="height: 100%; width: auto; display: inherit; margin-left: auto; margin-right: auto;">
                  </div>
                  <div class="row" style="width: 100%; height: 5px; background-color: #434343; margin: auto;"> </div>
                  <div class="row" style="width: 100%; height: 30%; margin-left: auto; margin-right: auto; overflow: auto;">
                    <div class="column cursor" *ngFor="let pic of product.previewPictures; index as i" (click)="onChooseImage(i)" style="{{percent}}">
                      <img class="picker" src="{{getPreviewPictureSource(pic)}}" style="display:block;" >
                    </div>
                  </div>
                </ng-template>

              </div>
              <div class="upload_preview_pictures_label"><label for="preview_pictures_container">Tải lên một hoặc nhiều ảnh xem trước</label></div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<input type="file" class="file-input" (change)="onPreviewPicturesUpload($event)" multiple="multiple" #previewPicturesUpload>
<div id="editor"></div>



<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" style="color:red">Lỗi</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismissError()"></button>
  </div>
  <div class="modal-body">
    <small style="color:red;" *ngFor="let error of errors">{{error}}<br /></small>
  </div>
</ng-template>


<ng-template #notAcceptFormatModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" style="color:red">Lỗi</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismissError()"></button>
  </div>
  <div class="modal-body">
    <small style="color:red;">{{fileFormatError}}<br /></small>
  </div>
</ng-template>
