<header class="section-header">
  <section class="header-main">
    <div class="container">
      <div class="row gy-3 align-items-center">
        <div class="col-lg-1 col-sm-4 col-4">
          <a routerLink="/home" class="navbar-brand" style="border:none;">
            DPM
          </a> <!-- brand end.// -->
        </div>
        <div class="order-lg-last col-lg-6 col-sm-8 col-8">
          <div class="float-end">
            <div *ngIf="loginStatus">
              <a *ngIf="isSeller()" data-bs-toggle="offcanvas" (click)="redirectSellerPage()" class="btn btn-light">
                <i class="fa fa-shopping-bag"></i> <span class="ms-1">Cửa hàng</span>
              </a>
              <a data-bs-toggle="offcanvas" routerLink="/cart" class="btn btn-light">
                <i class="fa fa-shopping-cart"></i> <span class="ms-1">Giỏ hàng</span>
              </a>

                <a data-bs-toggle="offcanvas" class="btn btn-light " href="#" id="dropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" *ngIf="user.id!=-1">
                  <i class="fa fa-cog"></i>
                  <span class="ms-1">Cá nhân </span>
                  <i class="fa fa-chevron-down"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink2" style="padding:0;">
                  <li class="optionItem">
                    <a class="dropdown-item" routerLink="/profile"><i class="fa fa-user" aria-hidden="true"></i><span> Trang cá nhân</span></a>
                  </li>
                  <li class="optionItem">
                    <a class="dropdown-item" (click)="viewPurchased()"><i class="fa fa-credit-card" aria-hidden="true"></i><span> Lịch sử mua hàng</span></a>
                  </li>
                  <li class="optionItem">
                    <a class="dropdown-item" *ngIf="isSeller()" (click)="viewPayouts()"><i class="fa fa-dollar" aria-hidden="true"></i><span> Lịch sử thu nhập</span></a>
                  </li>
                  <li class="optionItem">
                    <a class="dropdown-item" (click)="onLogout()"><i class="fa fa-sign-out" aria-hidden="true"></i><span> Đăng xuất</span></a>
                  </li>
                </ul>

            </div>
            <div *ngIf="!loginStatus">
              <a routerLink="/login" class="btn btn-light">
                <i class="fa fa-user"></i>  <span class="ms-1 d-none d-sm-inline-block">Đăng nhập</span>
              </a>
            </div>
          </div>
        </div> <!-- col end.// -->
        <div class="col-lg-5 col-md-12 col-12">
          <form class="" (submit)="toSearchResult()">
            <div class="input-group">
              <input style="border-radius: 3px !important; width: 55%" type="search" class="form-control" placeholder="Search" [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="keyword">
              <mat-autocomplete autoActiveFirstOption="false" #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
              <select class="form-select" (change)="onChangeSearch($event)" style="border-radius:3px;">
                <option value="PRODUCTS">Sản phẩm</option>
                <option value="SELLERS">Người bán</option>
              </select>
            </div> <!-- input-group end.// -->
          </form>
        </div> <!-- col end.// -->

      </div> <!-- row end.// -->
    </div> <!-- container end.// -->
  </section> <!-- header-main end.// -->


  <nav class="navbar navbar-light bg-primary border-top navbar-expand-lg">
    <div class="container">
      <button class="navbar-toggler border" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_main">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse navbar-light " id="navbar_main">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="dropdown-toggle nav-link" href="#" id="dropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Phân loại
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink3" style="border-radius:3px">
              <li *ngFor="let category of categoryList" class="cate">
                <a class="dropdown-item" (click)="searchByCategory(category.id)" style="cursor: pointer;">{{category.name}}</a>
                <div class="category_details" style="height:fit-content; width:250px; border:1px solid black; border-radius:3px; background-color:white; padding:7px;">
                  <p class=""> {{category.description}}</p>
                </div>
                </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="dropdown-toggle nav-link" href="#" id="dropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Nhãn
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink2" style="border-radius:3px">
              <li *ngFor="let tag of tagList">
                <a class="dropdown-item" (click)="searchByTag(tag.id)" style="cursor: pointer;">{{tag.name}}</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
