<app-header></app-header>
<!-- ============== SECTION PAGETOP ============== -->
<div *ngIf="isLoading">
  <app-loading-spinner></app-loading-spinner>
</div>
<section class="padding-y bg-light">
  <div class="container">

    <!-- =================== COMPONENT CART+SUMMARY ====================== -->
    <div class="row">
      <div class="col-lg-9">

        <div class="card" style="border-radius:3px;">
          <div class="content-body" style="min-height:450px;">
            <h4 class="card-title mb-4">Giỏ hàng của bạn</h4>
            <div *ngIf="cartItemList.length == 0">
              <b>Chưa có sản phẩm nào trong giỏ hàng </b>
            </div>
            <article *ngIf="cartItemList.length>0;" class="row gy-3 mb-4">


              <dl *ngFor="let cartitem of cartItemList; index as i">
                <div class="col-lg-6">

                  <figure class="itemside me-lg-6">

                    <div class="aside"><img src="{{getItemCoverImageSrc(cartitem)}}" class="img-sm img-thumbnail"></div>
                    <figcaption class="info">
                      <a (click)="toViewProduct(cartitem)" class="title" >{{cartitem.product.name}}</a>
                      <p class="text-muted">{{cartitem.product.category.name}}</p>

                    </figcaption>
                    <button (click)="RemoveItem(cartitem)" class="btn btn-light text-danger" style=" position: absolute;

                right:0;">
                      xóa bỏ
                    </button>
                  </figure>
                </div>
                <div class="col-lg-2 col-sm-4 col-6">
                  <div class="price-wrap lh-sm">
                    <var class="price h6">Price ${{cartitem.product.price}} (~{{cartitem.product.price * convertRate | number:'1.0-0'}}VND)</var>  <br>
                 
                  </div> <!-- price-wrap .// -->

                </div>
                <div class="col-lg col-sm-4">



                  <div class="float-lg-end">


                  </div>

                </div>
              </dl>
            </article> <!-- row.// -->



          </div> <!-- card-body .// -->
        </div> <!-- card.// -->

      </div> <!-- col.// -->
      <aside class="col-lg-3">
        <div class="card" style="border-radius:3px;">
          <div class="card-body">
            <dl class="dlist-align">
              <dt>Giỏ hàng:</dt>
              <dd class="text-end text-dark h5"> ${{TotalPrice}} (~{{TotalPriceVND | number:'1.0-0'}}VND)</dd>
            </dl>
            <dl class="dlist-align">
              <dt>Phí:</dt>
              <dd class="text-end text-dark h5"> ${{Fee}} (~{{FeeVND | number:'1.0-0'}}VND)</dd>
            </dl>
            <hr>
            <dl class="dlist-align">
              <dt>Tổng tiền:</dt>
              <dd class="text-end text-dark h5"> ${{LastPrice}} (~{{LastPriceVND | number:'1.0-0'}}VND)</dd>
            </dl>
            <div class="d-grid gap-2 my-3">
              <a button (click)="showPopups()" class="btn w-100 buyBtn"> Thanh toán  </a>
            </div>
          </div> <!-- card-body.// -->
        </div> <!-- card.// -->

      </aside> <!-- col.// -->

    </div> <!-- row.// -->
    <!-- =================== COMPONENT 1 CART+SUMMARY .//END  ====================== -->

    <br><br>

  </div> <!-- container .//  -->
</section>


  <div class="popup" *ngIf="isPopupShown">
    <h2>Điều khoản thanh toán</h2>
    <p>- Tất cả sản phẩm được bán trên trang web đều thuộc quyền sở hữu trí tuệ của người tạo ra sản phẩm.</p>
    <p>- Người mua sản phẩm chỉ được sử dụng sản phẩm đó theo những hạn chế và điều kiện được nêu rõ trong giấy phép đi kèm với sản phẩm.</p>
    <p>- Việc chia sẻ, bán lại sản phẩm mà không được sự cho phép của chủ sở hữu bản quyền là vi phạm quyền sở hữu trí tuệ và có thể bị phạt theo quy định của pháp luật.</p>
    <label>
      <input type="checkbox" name="user-policy" required (change)="checkboxEvent($event)">
      Tôi đồng ý với các điều khoản thanh toán
    </label>
    <button (click)="hidePopup()">Đóng</button>
    <button (click)="checkout()" name="continue" [disabled]="!isCheckboxChecked"> Tiếp tục thanh toán</button>
  </div>

<!-- ============== SECTION  ============== -->
<!-- ============== SECTION END// ============== -->
<ng-template #infoModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" style="color:black">Thông báo</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismiss()"></button>
  </div>
  <div class="modal-body">
    <small style="color:black;">{{info}}<br /></small>
  </div>
</ng-template>


<ng-template #change let-modal>
  <div class="modal-header">
    <h4 class="modal-title" style="color:black">Thông báo</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismiss()"></button>
  </div>
  <div class="modal-body">
      <div *ngIf="updated.length!=0">
      <div>Có sự thay đổi trong sản phẩm: </div>
        <div *ngFor="let update of updated">
        <small style="color: red; font-size: 20px;">- {{update.item}}</small>
        </div>
      </div>
      <div *ngIf="removed.length!=0">
      <div>Sản phẩm không còn khả dụng: </div>
        <div *ngFor="let remove of removed">
        <small style="color:red; font-size:20px;">- {{remove.item}}</small>
       
        </div>
      </div>
  </div>
</ng-template>
<app-footer></app-footer>
