<!-- ============== SECTION PAGETOP ============== -->
<div *ngIf="isLoading">
  <app-loading-spinner></app-loading-spinner>
</div>
<section class="bg-primary padding-y-sm">
  <div class="container">
    <ol class="breadcrumb ondark mb-0">
      <li class="breadcrumb-item"> <a href="#">Home</a>  </li>
      <li class="breadcrumb-item active"> Shopping cart  </li>
    </ol>
  </div> <!-- container //  -->
</section>
<!-- ============== SECTION PAGETOP END// ============== -->

<section class="padding-y bg-light">
  <div class="container">

    <!-- =================== COMPONENT CART+SUMMARY ====================== -->
    <div class="row">
      <div class="col-lg-9">

        <div class="card">
          <div class="content-body">
            <h4 class="card-title mb-4">Giỏ hàng của bạn</h4>
            <div *ngIf="cartItemList.length == 0">
              <b>Chưa có sản phẩm nào trong giỏ hàng </b>
            </div>
            <article *ngIf="cartItemList.length>0;" class="row gy-3 mb-4">


              <dl *ngFor="let cartitem of cartItemList; index as i">
                <div class="col-lg-5">

                  <figure class="itemside me-lg-5">

                    <div class="aside"><img src="{{getItemCoverImageSrc(cartitem)}}" class="img-sm img-thumbnail"></div>
                    <figcaption class="info">
                      <a href="#" class="title">{{cartitem.product.name}}</a>
                      <p class="text-muted">Category {{cartitem.product.category.name}}</p>

                    </figcaption>
                    <button (click)="RemoveItem(cartitem)" class="btn btn-light text-danger" style=" position: absolute;

                right:0;">
                      xóa bỏ
                    </button>
                  </figure>
                </div>


                <div class="col-lg-2 col-sm-4 col-6">
                  <div class="price-wrap lh-sm">
                    <var class="price h6">Price {{cartitem.product.price}}</var>  <br>
                    <small class="text-muted"> $460.00 / per item </small>
                  </div> <!-- price-wrap .// -->

                </div>
                <div class="col-lg col-sm-4">



                  <div class="float-lg-end">


                  </div>

                </div>
              </dl>
            </article> <!-- row.// -->



          </div> <!-- card-body .// -->

          <div class="content-body border-top">
            <p><i class="me-2 text-muted fa-lg fa fa-truck"></i> Free Delivery within 1-2 weeks</p>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip
            </p>
          </div> <!-- card-body.// -->

        </div> <!-- card.// -->

      </div> <!-- col.// -->
      <aside class="col-lg-3">



        <div class="card">
          <div class="card-body">
            <dl class="dlist-align">

              <dt>giảm giá :</dt>
              <dd class="text-end"> $329.00</dd>
            </dl>


            <hr>
            <dl class="dlist-align">
              <dt>Total:</dt>
              <dd class="text-end text-dark h5"> {{TotalPrice}} </dd>
            </dl>

            <div class="d-grid gap-2 my-3">
              <a button (click)="checkout()" class="btn btn-success w-100"> mua  </a>
              <a href="#" class="btn btn-light w-100"> quay lại   </a>
            </div>
          </div> <!-- card-body.// -->
        </div> <!-- card.// -->

      </aside> <!-- col.// -->

    </div> <!-- row.// -->
    <!-- =================== COMPONENT 1 CART+SUMMARY .//END  ====================== -->

    <br><br>

  </div> <!-- container .//  -->
</section>



<!-- ============== SECTION  ============== -->
<section class="padding-y border-top">
  <div class="container">
    <header class="section-heading">
      <h4 class="section-title">Recommended items</h4>
    </header>

    <div class="row">
      <div class="col-lg-3 col-sm-6 col-12">
        <figure class="card card-product-grid">
          <div class="img-wrap">
            <span class="topbar">
              <a href="#" class="float-end"><i class="fa fa-lg fa-heart"></i></a>
              <span class="badge bg-danger"> New </span>
            </span>
            <a href="#"><img src="assets/images/items/7.webp"></a>
          </div>
          <figcaption class="info-wrap border-top">
            <a href="#" class="title">Gaming Headset with Mic</a>
            <div class="price-wrap mb-3">
              <strong class="price">$18.95</strong>
              <del class="price-old">$24.99</del>
            </div> <!-- price-wrap.// -->
            <a href="#" class="btn btn-outline-primary w-100">Add to cart</a>
          </figcaption>
        </figure> <!-- card // -->
      </div> <!-- col.// -->
      <div class="col-lg-3 col-sm-6 col-12">
        <figure class="card card-product-grid">
          <div class="img-wrap">
            <span class="topbar">
              <a href="#" class="float-end"><i class="fa fa-lg fa-heart"></i></a>
            </span>
            <a href="#"><img src="assets/images/items/8.webp"></a>
          </div>
          <figcaption class="info-wrap border-top">
            <a href="#" class="title">Apple Watch Series 1 Sport </a>
            <div class="price-wrap mb-3">
              <strong class="price">$120.00</strong>
            </div> <!-- price-wrap.// -->
            <a href="#" class="btn btn-outline-primary w-100">Add to cart</a>
          </figcaption>
        </figure> <!-- card // -->
      </div> <!-- col.// -->
      <div class="col-lg-3 col-sm-6 col-12">
        <figure class="card card-product-grid">
          <div class="img-wrap">
            <span class="topbar">
              <a href="#" class="float-end"><i class="fa fa-lg fa-heart"></i></a>
            </span>
            <a href="#"><img src="assets/images/items/9.webp"></a>
          </div>
          <figcaption class="info-wrap border-top">
            <a href="#" class="title"> Men's Denim Jeans Shorts  </a>
            <div class="price-wrap mb-3">
              <strong class="price">$80.50</strong>
            </div> <!-- price-wrap.// -->
            <a href="#" class="btn btn-outline-primary w-100">Add to cart</a>
          </figcaption>
        </figure> <!-- card // -->
      </div> <!-- col.// -->
      <div class="col-lg-3 col-sm-6 col-12">
        <figure class="card card-product-grid">
          <div class="img-wrap">
            <span class="topbar">
              <a href="#" class="float-end"><i class="fa fa-lg fa-heart"></i></a>
            </span>
            <a href="#"><img src="assets/images/items/10.webp"></a>
          </div>
          <figcaption class="info-wrap border-top">
            <a href="#" class="title text-truncate">Mens T-shirt Cotton Base Layer Slim fit </a>
            <div class="price-wrap mb-3">
              <strong class="price">$13.90</strong>
            </div> <!-- price-wrap.// -->
            <a href="#" class="btn btn-outline-primary w-100">Add to cart</a>
          </figcaption>
        </figure> <!-- card // -->
      </div> <!-- col.// -->
    </div> <!-- row.// -->

  </div> <!-- container .//  -->
</section>
<!-- ============== SECTION END// ============== -->
<ng-template #infoModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" style="color:black">Thông báo</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismiss()"></button>
  </div>
  <div class="modal-body">
    <small style="color:black;">{{info}}<br /></small>
  </div>
</ng-template>
<app-footer></app-footer>
