<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../product-collection/product-collection.component.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/fontawesome.min.css"></script>
</head>

<body>
    <section class="product-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="tittleProduct">Product List</h3>
                </div>
                <div class="Addproduct">
                    <button>Add product</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="product-Box"*ngFor ='let item of ps'>
                        <div class="product-img"  > <img src="../product-collection/Cao Sơn á á á á á á á á á .png"
                                alt="Anh ko hien"></div>
                        <div class="product-content">
                            <h3>{{ item.name }}</h3>
                            <p></p>
                            <div class="priceTag">
                                 {{item.price}}
                            </div>
                            <div class="contentbox">
                                <p>{{item.description}}</p>
                                <ul class="bottom-Link">
                                    <li>
                                        <a href="#" class="Readmore">Add to cart</a>
                                    </li>
                                    <li>
                                        <a href="#" class="Readmore">ReadMore</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</body>