<app-header></app-header>
<body>
   
    <div class="container">
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8" style=" margin-top: 60px;background-color:beige;">
                <h2 style="text-align: center;margin-bottom: 20px;">Liên hệ với quản lí</h2>
                <form>
                    <!-- 2 column grid layout with text inputs for the first and last names -->
                    <div class="row mb-4">
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" id="form6Example1" class="form-control" />
                          <label class="form-label" for="form6Example1">Tên</label>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" id="form6Example2" class="form-control" />
                          <label class="form-label" for="form6Example2">Họ</label>
                        </div>
                      </div>
                    </div>
                  
                    <!-- Text input -->
                    <div class="form-outline mb-4">
                      <input type="text" id="form6Example4" class="form-control" />
                      <label class="form-label" for="form6Example4">Địa chỉ</label>
                    </div>
                  
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                      <input type="email" id="form6Example5" class="form-control" />
                      <label class="form-label" for="form6Example5">Email</label>
                    </div>
                  
                    <!-- Number input -->
                    <div class="form-outline mb-4">
                      <input type="number" id="form6Example6" class="form-control" />
                      <label class="form-label" for="form6Example6">Số điện thoại</label>
                    </div>
                  
                    <!-- Message input -->
                    <div class="form-outline mb-4">
                      <textarea class="form-control" id="form6Example7" rows="4"></textarea>
                      <label class="form-label" for="form6Example7">Nội dung</label>
                    </div>
                  
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-4">Gửi</button>
                  </form>
            </div>
            <div class="col-md-2">

            </div>
        </div>
    </div>
</body>
<app-footer></app-footer>

