<h1>Payout history</h1>
<div class="mat-elevation-z8">
    <table mat-table>
  

      <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="email"> Email </th>
        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
      </ng-container>
  

      <ng-container matColumnDef="Ngày tạo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="accountCreatedDate"> Ngày tạo </th>
        <td mat-cell *matCellDef="let row"> {{row.createdDate}} </td>
      </ng-container>