
<app-header></app-header>
<h1 style="text-align: center;">Lịch sử thu nhập</h1>
<div class="table-responsive pb-5">
				<table id="tbOrderHistory" class="table border ps-table w-100 mb-3" >
					<thead>
						<tr>
							<th class="font-weight-bold py-2 border-0 quantity">Số tiền</th>         
							<th class="font-weight-bold py-2 border-0 ">Ngày khởi tạo</th>
							<th class="font-weight-bold py-2 border-0 ">Tình trạng</th>
							<!-- <th class="font-weight-bold py-2 border-0 ">PayoutFee</th> -->
							<!-- <th class="font-weight-bold py-2 border-0 ">Customer</th>
							<th class="font-weight-bold py-2 border-0 ">Total</th>
							<th class="font-weight-bold py-2 border-0 ">Status</th>
							<th class="font-weight-bold py-2 border-0 ">Action</th> -->
						</tr>
            <tr style="border-style: solid; border-width: ;" *ngFor ="let payout of payoutlist |
			 paginate:{
				itemsPerPage: 5, 
				currentPage: page, 
				totalItems:totalLength}">
              <td>${{payout.amount}}</td>
              <td>{{formatTime(payout.createdDate)}}</td>
              <td>{{payout.status}}</td>          
            </tr>
					</thead>				
				</table>
				<pagination-controls  class="text-center my-pagination" (pageChange) = "page = $event"></pagination-controls>
			</div>
<app-footer></app-footer>