<h1>Inspectors management</h1>
<button (click)="toAddInspector()">Add Inspector</button>
<table>
    <tr>
        <th>Inspector Name</th>
        <th>Email</th>
        <th>Activated</th>
        <th>Action</th>
    </tr>
    <tr *ngFor="let inspector of inspectorList">
        <td>{{inspector.username}}</td>
        <td>{{inspector.email}}</td>
        <td>{{inspector.enabled}}</td>
        <td>
            <div *ngIf="inspector.enabled"><button (click)="onDisable(inspector.id)">Deactivate</button></div>
            <div *ngIf="!inspector.enabled"><button (click)="onEnable(inspector.id)">Activate</button></div>
        </td>
    </tr>
</table>

