.content{
    background-color: white;
    color: black;
    width: 100%;
    height: 100%;
}
h1{
    padding: 2%;
}
.addInspectorForm{
    padding: 2%;
}
.form-control{
    width: 80%;
}
.err{
    color: red;
}
.btn btn-primary submit-btn:disabled{
    background-color: #c0c6cf;
}