
<app-header></app-header>

<!-- <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head> -->
<hr>
<section class="padding-y bg-light">
    <div class="container">

<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-sm-10">
            <h1>{{user.username}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="text-center">
                <img src="" class="avatar img-circle img-thumbnail" alt="avatar" id="Image">
                <input type="file" class="file-upload" (change)="UploadProfileImage($event)">
            </div>
            <ul class="list-group">
                <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Follow</strong></span> 125</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> 13</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> 37</li>
            </ul>
        </div><!--/col-3-->
        <div class="col-sm-9">
            <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <hr>




                    <form [formGroup]="Profileform" (submit)="onChangeName()" class="form" action="##" method="post"
                        id="registrationForm">
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="first_name">
                                    <h4>Tên người dùng</h4>
                                </label>
                                <input readonly [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}"
                                    type="text" class="form-control" name="first_name" id="user_name"
                                    placeholder="User name" title="enter your username if any.">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="first_name">
                                    <h4>Tên</h4>
                                </label>
                                <input readonly [(ngModel)]="user.firstName" [ngModelOptions]="{standalone: true}"
                                    type="text" class="form-control" name="first_name" id="first_name"
                                    placeholder="first name" title="enter your first name if any.">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="first_name">
                                    <h4>Họ</h4>
                                </label>
                                <input readonly [(ngModel)]="user.lastName" [ngModelOptions]="{standalone: true}"
                                    type="text" class="form-control" id="last_name" placeholder="Last name"
                                    title="enter your Last name if any.">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="Join Date">
                                    <h4>Ngày khởi tạo</h4>
                                </label>
                                <input [value]="user.createdDate" readonly type="text" class="form-control"
                                    name="CreatedDate" id="phone" placeholder="" title=".">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="email">
                                    <h4>Email</h4>
                                </label>
                                <input readonly [value]="user.email" type="email" class="form-control" name="email"
                                    id="email" placeholder="you@email.com" title="enter your email.">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <br>
                                <button class="btn btn-lg btn-success" type="submit" [disabled]="Profileform.invalid"><i
                                        class="glyphicon glyphicon-ok-sign"></i> Lưu</button>
                                <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> <a
                                        routerLink="/changepassword" routerLinkActive="active"
                                        ariaCurrentWhenActive="page"> Đổi mật khẩu</a></button>
                                <button (click)="UpdateInfo()" class="btn btn-lg btn-success" type="text">
                                    Cập nhật thông tin</button>                        
                                    <button class="btn btn-lg btn-success" type="reset">
                                        <i class="glyphicon glyphicon-repeat"></i> 
                                        <a routerLink="/seller/createNewSeller" routerLinkActive="active" ariaCurrentWhenActive="page" style="color: white; text-decoration: none;">xác thực tài khoản</a>
                                      </button> 

                                <!-- here -->

                               

                                <!-- to here -->
                            </div>
                        </div>
                    </form>
                </div>


            </div>

        </div>

        </div>
    </div>
    </div>

</section>
<app-footer></app-footer>

