* {
    font-family: 'Lato', sans-serif;
    background-color: white;
    color: black;
  }
  
  .img-big-wrap {
    width: 100%;
  }
  
  .margin {
    margin: 25px;
  }
  
  .title {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.2;
  }
  
  
  .metadata_details {
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #212121;
    font-size: 18px;
    margin: 10px 0;
  }
  
  .metadata label {
    font-weight: 600;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .details_value {
    cursor: pointer;
    transition: all 0.15s;
    text-decoration: none;
    color: #757575;
  }
  
    .details_value:hover {
      color: #FF2449;
    }
  
  .price {
    color: #757575;
  }
  
  .tags {
    position: relative;
    clip-path: polygon(100% 0%, 100% 53%, 100% 100%, 9% 100%, 0% 50%, 9% 0);
    text-align: center;
    padding: 7px;
    width: 80px;
    height: 40px;
    background-color: #FF2449;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 1px rgb(255 255 255/ 70%);
    border-radius: 1px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .add_to_cart_btn {
    width: 100%;
    height: 100%;
    font-weight: 200;
  }
  
  .buy_now_btn {
    width: 100%;
    height: 100%;
    font-weight: 200;
  }
  
  .cart button {
    border-radius: 3px;
    color: white;
    background-color: #000000;
    font-size: 18px;
    font-weight: 600;
    border: none;
    transition: all 0.15s;
  }
  
    .cart button:hover {
      background-color: #FF2449;
    }
  
  .preview_count {
    margin-top: 2px;
    background-color: dimgray;
    color: white;
    border-radius: 2px;
    font-weight: 500;
    padding: 2px;
  }
  
  .thumbs-wrap {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    flex: auto;
    flex-wrap: nowrap;
    position: relative;
  }
  
  .thumbs_row {
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex: auto;
    position: relative;
    border-radius: 4px;
    transition: all .2s ease-in-out;
  }
  
  .thumb_column {
    position: relative;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .thumb_content {
    margin: 0 10px 0 0;
    width: 96px;
    height: 100%;
    cursor: pointer;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    border-radius: 4px;
  }
  
  .meta_data span {
    margin-right: 4px;
    font-size: 14px;
    letter-spacing: .05rem;
    color: #606060;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .sellerInfo p {
    margin-block-end: 0;
    user-select: none;
  }
  
  .sellerInfo {
    min-height: 100px;
  }
  
  .reportBtn:active {
    box-shadow: 0 1px #666;
    transform: translateY(3px);
  }
  
  .thumb_column_black {
    border-radius: 4px;
    position: absolute;
    top: 0;
    right: 9px;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: .6;
  }
  
  .dots {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .thumbs-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
  }
  
  .dots {
    margin-top: 10px;
  }
  
  .dott {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #9e9e9e;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
    .dott.active {
      background-color: #2196f3;
    }
  
  .details_value {
    position: relative;
  }
  
  .details_value_hover {
    display: none;
    position: absolute;
    text-align: justify;
    width: 400px;
    height: auto;
    z-index: 11;
    background: white;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 14px;
    padding: 5px;
    right: 1%;
  }
  
  .sen:hover .details_value_hover {
    display: block;
  }
  
  .downloadLink{
    color: blue;
  }

  .downloadLink:hover{
    cursor: pointer;
    color: red;
  }