<form [formGroup] = "resetPasswordRequestForm" (ngSubmit)="onResetPasswordRequest()">
<input type="email" formControlName="email" placeholder="email">
	<div class="invalid"
		*ngIf="Form1.email.invalid && (Form1.email.dirty || Form1.email.touched)">
		<div *ngIf="Form1.email.errors?.['required']">
			<small>Email is required.</small>
		</div>
		<div *ngIf="Form1.email.errors?.['email']">
			<small>Not valid email</small>
		</div>
	</div>
	<br><input type="submit">
</form>


<form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()">
	 <input type="text" formControlName="captcha"
		placeholder="CAPTCHA"><br> 
		<input type="password"
		formControlName="newPassword" placeholder="new password"><br>
	Remember me? <input type="submit">
</form>
<br>
{{errorMessage}}