<div class="container-fluid grad">
  <div class="row padded">
    <div class="loginForm">
      <div class="formTitle">
        <span>Reset password</span>
      </div>
      <div class="emailPrompt" style="">
        <form [formGroup]="resetPasswordRequestForm" (ngSubmit)="onResetPasswordRequest()">
          <div class="input_row">
            <div><label for="email">Email</label></div>
            <div><input type="email" formControlName="email" id="email"></div>
            <div class="msg">
              <div class="invalid" *ngIf="Form1.email.invalid && (Form1.email.dirty || Form1.email.touched)">
                <div *ngIf="Form1.email.errors?.['required']"><small>Email is required.</small></div>
                <div *ngIf="Form1.email.errors?.['email']"><small>Not valid email</small></div>
              </div>
            </div>
          </div>
          <br>
          <div>
            <button class="submitbutton" type="submit" style="margin-top:5px; margin-bottom:5px;">Submit</button>
          </div>
        </form>
      </div>
      <br>
      <div class="captchaPromt">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()">
          <div class="input_row">
            <div><label for="captcha">Captcha</label></div>
            <div><input type="text" formControlName="captcha" id="captcha"/></div>
          </div>
          <div class="input_row">
            <div><label for="newPassword">New Password</label></div>
            <div><input type="password"
       formControlName="newPassword" id="newPassword" /></div>
          </div>
          <div class="input_row">
            <div><label for="repeat_password">Repeat password</label></div>
            <div> <input type="password" formControlName="repeat_password" id="repeat_password" /></div>
          </div>

          
          <div>
            <button class="submitbutton" type="submit" style="margin-top:5px;">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>





