<div class="container-fluid grad">
  <div class="row padded">
    <div class="loginForm">
      <div class="formTitle">
        <span>Đặt lại mật khẩu</span>
      </div>
      <div class="emailPrompt" style="">
        <form [formGroup]="resetPasswordRequestForm" (ngSubmit)="onResetPasswordRequest()">
          <div class="input_row">
            <div><label for="email">Email</label></div>
            <div><input type="email" formControlName="email" id="email"></div>
            <div class="msg">
              <div class="invalid" *ngIf="Form1.email.invalid && (Form1.email.dirty || Form1.email.touched)">
                <div *ngIf="Form1.email.errors?.['required']"><small>Vui lòng nhập email</small></div>
                <div *ngIf="Form1.email.errors?.['email']"><small>Email không hợp lệ</small></div>
              </div>
              <div style="color:green">{{msg}}</div>
            </div>
          </div>
          <br>
          <div>
            <button class="submitbutton" type="submit" style="margin-top:10px; margin-bottom:5px;">Submit</button>
          </div>
        </form>
        <a style="color:red; cursor:pointer; text-decoration:underline;" (click)="redirectLogin()">Back to Login</a>
      </div>
      <br>
    </div>
  </div>
</div>





