<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="sidebar.toggle()">
     <mat-icon>menu</mat-icon>
   </button>
   <span>Hệ thống quản lý DPM dành cho Nhân viên</span>
   <span class="example-spacer"></span>
   <span>
   <button mat-button (click)="logout()">
    <i class="fa fa-sign-out" aria-hidden="true"></i><span> Đăng xuất</span>
   </button>
   </span>
 </mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidebar mode="side">
        <mat-list>
            <mat-list-item (click)="openProductApproval()" [ngClass]="{chosenTab :productApprovalChosen}"><a><i class="fa fa-clock" aria-hidden="true"></i><span> Danh sách chờ duyệt</span></a></mat-list-item>
            <mat-list-item (click)="openReportList()" [ngClass]="{chosenTab :reportListChosen}"><a><i class="fa fa-exclamation-triangle" aria-hidden="true"></i><span> Danh sách báo cáo</span></a></mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="outletContent">
            <router-outlet [name]="routerName"></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
