<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
	<input type="email" formControlName="email" placeholder="email">
	<div class="invalid"
	*ngIf="Form.email.invalid && (Form.email.dirty || Form.email.touched)">
	<div *ngIf="Form.email.errors?.['required']">
		<small>Email is required.</small>
	</div>
	<div *ngIf="Form.email.errors?.['email']">
		<small>Not valid email form</small>
	</div>
</div><br>
		<input type="password" formControlName="password" placeholder="password"><br>
		 Remember me?
		<input type="checkbox" formControlName="rememberMe"><br>
		<input type="submit">
</form>
<br>
<button (click)="loginWithGoogle()">Login with google</button>

{{errorMessage}}

<button (click)="forgotPassword()">Forgot password?</button>
