<!-- <div class="addReportContainer">
    <form [formGroup]="addReportForm" (submit)="toSendReport()">
        <h2>Báo cáo sản phẩm này</h2>
        <p>Lý do vi phạm:</p>
        <select #violation (change)="onChange(violation.value)" formControlName="violationtype">
            <option *ngFor="let type of vioTypeList" [value]="type.id">{{type.name}}</option>
        </select>
        <br>
        <div class="form-group">
            <p>Mô tả chi tiết (để từ 10 đến 255 ký tự) :</p>
            <textarea [(ngModel)]="description" (input)="onDescriptionChange()" formControlName="description"></textarea>
        </div>
        <small *ngIf="descriptionExceed()" style="color: red">Vui lòng để mô tả từ 10 đến 255 ký tự</small>
        <div class="form-group" align="end">
            <button class="btn btn-warning" mat-dialog-close="">Hủy</button>
            <button class="btn btn-primary" type="submit" [disabled]="violationTypeId==0||descriptionEmpty()||descriptionExceed()" mat-dialog-close="">Gửi báo cáo</button>
        </div>
        
    </form>
</div> -->

<div class="container-fluid grad">
    <div class="row">
  
    <div class="row padded">
      <div class="row title"><h2>Báo cáo sản phẩm</h2></div>

        <div>
          <form [formGroup]="addReportForm" (submit)="toSendReport()">
            <div class="input_row classification_picker">
                <label for="type_list">Kiểu vi phạm:</label>&nbsp;<small *ngIf="violationTypeId==0" style="color: red">Vui lòng chọn kiểu vi phạm</small>

                <div class="">
                  <select #violation (change)="onChange(violation.value)" class="classification_picker_body" id="type_list" name="type" formControlName="violationtype">
                    <option *ngFor="let type of vioTypeList" [value]="type.id">{{type.name}}</option>
                  </select>
                </div>
              </div>
                
              <div>
                  <label>Mô tả chi tiết: </label> &nbsp; <small *ngIf="descriptionEmpty()||descriptionExceed()" style="color: red">Vui lòng để mô tả từ 10 đến 255 ký tự</small>
                <textarea id="instruction_details" style="height:100px;width:100%;resize: none;" [(ngModel)]="description" (input)="onDescriptionChange()" formControlName="description"></textarea>
              </div>
                <div align="end">
                    <button class="dismissBtn" mat-dialog-close="">Hủy</button>
                    <button type="submit" class="actionBtn" [disabled]="violationTypeId==0||descriptionEmpty()||descriptionExceed()" mat-dialog-close="">Gửi</button>
                </div>
            
  </form>
        </div>
    </div>
    </div>
  </div>