<div class="addReportContainer">
    <form [formGroup]="addReportForm" (submit)="addReport()">
        <h2>Báo cáo sản phẩm</h2>
        <b>Lựa chọn nội dung vi phạm</b>
        <div class="form-group">
            <div class="form-check" *ngFor="let type of vioTypeList">
                <input class="form-check-input" type="radio" formControlName="violation_type_id" value={{type.id}} id={{type.id}}>
                <label class="form-check-label">
                  {{type.name}}
                </label>
              </div>
        </div>
        <div class="form-group">
            <p>Mô tả chi tiết lý do vi phạm</p>
            <textarea formControlName="description">

            </textarea>
        </div>
        <div class="form-group" align="end">
            <button class="btn btn-warning" mat-dialog-close="">Hủy</button>
            <button class="btn btn-primary" type="submit">Gửi báo cáo</button>
        </div>
        
    </form>
</div>
