<app-header></app-header>
<div class="container-fluid grad">
  <div class="row">

  <div class="row padded">
    <div class="row title"><h2>Thay đổi mật khẩu</h2></div>
    <div class="row cols">
      <div class="left_col col-6">
        <form [formGroup] ="changePasswordForm" (submit)="onChangePassword()">
	<div class="input_row">
		<label>Mật khẩu cũ:</label>
		<input type="password" formControlName="oldpass">
		<div *ngIf="Form.oldpass.touched && Form.oldpass.invalid">
			<div *ngIf="Form.oldpass.errors?.['required']"><small style="color: red">Vui lòng nhập mật khẩu</small></div>
			<div *ngIf="Form.oldpass.errors?.['minlength']||Form.oldpass.errors?.['maxlength']"><small style="color: red">Mật khẩu phải từ 8 đến 30 ký tự</small></div>
		</div>
	</div>
	<div class="input_row">
		<label>Mật khẩu mới:</label>
		<input type="password" formControlName="newpass" (change)="onPasswordMatch()">
		<div *ngIf="Form.newpass.touched && Form.newpass.invalid">
			<div *ngIf="Form.newpass.errors?.['required']"><small style="color: red">Vui lòng nhập mật khẩu</small></div>
			<div *ngIf="Form.newpass.errors?.['minlength']||Form.newpass.errors?.['maxlength']"><small style="color: red">Mật khẩu phải từ 8 đến 30 ký tự</small></div>
		</div>
	</div>
	<div class="input_row">
		<label>Xác nhận mật khẩu mới:</label>
		<input type="password" formControlName="renewpass" (change)="onPasswordMatch()">
		<div *ngIf="!onPasswordMatch() && Form.renewpass.touched">
			<div><small style="color: red">Mật khẩu không khớp</small></div>
		</div>
	</div>
	<div>
		<button type="submit" class="submitButton" [disabled]="changePasswordForm.invalid || !onPasswordMatch()">Confirm change</button>
	</div>
</form>
      </div>
      <div class="right_col col-6">
      	<ul>
      		<li>Độ dài mật khẩu phải <b>từ 8 đến 30</b> ký tự.</li>
      		<li>Vui lòng sử dụng mật khẩu mới cho lần đăng nhập sau.</li>
      		<li>Vui lòng <b>KHÔNG</b> chia sẻ mật khẩu cho bất kỳ ai.</li>
      	</ul>
      </div>
    </div>

  </div>
  </div>
</div>
<app-footer></app-footer>