<app-header></app-header>

<!--Image Slider-->
<div style="margin-top:3%;">
  <div class="carousel-container" *ngFor="let product of filteredProducts; let i=index">
    <a (click)="redirectProductDetails(product)" style="cursor: pointer;">
      <img [src]="getPreviewPicture(product)"
           [ngClass]="{'image-active': selectedIndex === i}"
           class="" style="border-radius:3px;" />
    </a>
  </div>
  <div *ngIf="indicators" class="carousel-dot-container">
    <span *ngFor="let dot of lastestProductList; let i = index"
          class="dot"
          [ngClass]="{'active': selectedIndex === i}"
          (click)="selectImage(i)">
    </span>
  </div>
</div>
<!--Show product-->
<div class="container" style="margin-top: 3%;">
 
  <header class="section-heading">
    <h3  class="section-title">Sản phẩm mới nhất</h3>
  </header>
  <div class="row">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let product of lastestProductList">
        <figure class="card-product-grid">
          <a (click)="redirectProductDetails(product)" class="img-wrap rounded bg-gray-light" style="cursor: pointer;">
            <img height="250" class="mix-blend-multiply" [src]="getCoverImage(product)">
          </a>
          <figcaption class="pt-2">
            <strong class="price">{{product.name}}</strong>
            <p class="title mb-2"><a (click)="searchByCategory(product.category.id)" style="cursor: pointer;">{{product.category.name}}</a> của <a (click)="searchBySeller(product.seller.id)" style="cursor: pointer;">{{product.seller.username}}</a></p>
            <strong><p class="text-muted">${{product.price}}</p></strong>
            <a (click)="redirectProductDetails(product)" class="btn viewProduct">Chi tiết</a>
          </figcaption>
        </figure>
      </div>
      <!-- col end.// -->
    </div> <!-- row end.// -->
    <header class="section-heading">
      <h3 class="section-title">Tất cả sản phẩm</h3>
    </header>
    <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let product of productList|
			paginate:{
			   itemsPerPage: 8,
			   currentPage: page,
			   totalItems:totalLength}">
      <figure class="card-product-grid">
        <a (click)="redirectProductDetails(product)" class="img-wrap rounded bg-gray-light" style="cursor: pointer;">
          <img height="250" class="mix-blend-multiply" [src]="getCoverImage(product)">
        </a>
        <figcaption class="pt-2">
          <strong class="price">{{product.name}}</strong>
          <p class="title mb-2"><a (click)="searchByCategory(product.category.id)" style="cursor: pointer;">{{product.category.name}}</a> của <a (click)="searchBySeller(product.seller.id)" style="cursor: pointer;">{{product.seller.username}}</a></p>
          <strong><p class="text-muted">${{product.price}}</p></strong>
          <a (click)="redirectProductDetails(product)" class="btn viewProduct">Chi tiết</a>
        </figcaption>
      </figure>
    </div>
    <pagination-controls class="text-center my-pagination" (pageChange)="page = $event"></pagination-controls>
    <!-- col end.// -->
    
  </div> <!-- container end.// -->
</div>
<app-footer></app-footer>

