<app-header></app-header>
<!-- ================ SECTION INTRO ================ -->
  <!-- ================ SECTION INTRO END.// ================ -->
  <!-- ================ SECTION CATEGORY ================ -->
 
  <!-- ================ SECTION CATEGORY END.// ================ -->
  <!-- ================ SECTION PRODUCTS ================ -->
  <section class="padding-y">
  <div class="container">
    <header class="section-heading">
      <h3 class="section-title">New products</h3>
    </header> 
    <div class="row">
      <!-- <div class="col-lg-3 col-md-6 col-sm-6">
        <figure class="card-product-grid">
          <a href="#" class="img-wrap rounded bg-gray-light"> 
            <span class="topbar"> <span class="badge bg-danger"> New </span> </span>
            <img height="250" class="mix-blend-multiply" src="assets/images/items/1.webp"> 
          </a>
          <figcaption class="pt-2">
            <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
            <strong class="price">$29.95</strong> 
            <a href="#" class="title text-truncate">GoPro action camera 4K</a>
            <small class="text-muted">Model: X-200</small>
          </figcaption>
        </figure>
      </div>  -->
      <!-- col end.// -->
      <!-- <div class="col-lg-3 col-md-6 col-sm-6">
        <figure class="card-product-grid">
          <a href="#" class="img-wrap rounded bg-gray-light"> 
            <span class="topbar"> <span class="badge bg-warning"> Offer </span> </span>
            <img height="250" class="mix-blend-multiply" src="assets/images/items/2.webp"> 
          </a>
          <figcaption class="pt-2">
            <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
            <strong class="price">$590.00</strong> 
            <a href="#" class="title text-truncate">Canon EOS professional</a>
            <small class="text-muted">Capacity: 128GB</small>
          </figcaption>
        </figure>
      </div>  -->
      <!-- col end.// -->
      <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let product of productList | paginate: {itemsPerPage: itemsPerPage, currentPage: p}">
        <figure class="card-product-grid">
          <a (click)="redirectProductDetails(product)" class="img-wrap rounded bg-gray-light" style="cursor: pointer;"> 
            <img height="250" class="mix-blend-multiply" [src]="getCoverImage(product)"> 
          </a>
          <figcaption class="pt-2">
            <strong class="price">{{product.name}}</strong>
            <p class="title mb-2"><a (click)="searchByCategory(product.category.id)" style="cursor: pointer;">{{product.category.name}}</a> của <a (click)="searchBySeller(product.seller.id)" style="cursor: pointer;">{{product.seller.username}}</a></p>
            <strong><p class="text-muted">${{product.price}}</p></strong>
            <a (click)="redirectProductDetails(product)" class="btn viewProduct">Chi tiết</a>
          </figcaption>
        </figure>
      </div> 
      <!-- col end.// -->
      
      <!-- col end.// -->
    </div> <!-- row end.// -->
  </div> <!-- container end.// -->
  </section>
  <!-- ================ SECTION PRODUCTS END.// ================ -->
  <!-- ================ SECTION FEATURE ================ -->
  <!--<section>
  <div class="container">
    <article class="card p-4" style="background-color: var(--bs-primary)">
      <div class="row align-items-center">
        <div class="col"> 
          <h4 class="mb-0 text-white">Best products and brands in store</h4>
          <p class="mb-0 text-white-50">Trendy products and text to build on the card title</p>
        </div>
        <div class="col-auto"> <a class="btn btn-warning" href="#">Discover</a> </div>
      </div>
    </article>
  </div>--> <!-- container end.// -->
  <!--</section>-->
  <!-- ================ SECTION FEATURE END.// ================ -->
  <!-- ================ SECTION PRODUCTS ================ -->
  <!--<section class="padding-y">
  <div class="container">
    <header class="section-heading">
      <h3 class="section-title">Recommended</h3>
    </header> 
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <figure class="card-product-grid">
          <a href="#" class="img-wrap rounded bg-gray-light"> 
            <img height="250" class="mix-blend-multiply" src="assets/images/items/9.webp"> 
          </a>
          <figcaption class="pt-2">
            <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
            <strong class="price">$17.00</strong>--> <!-- price.// -->
            <!--<a href="#" class="title text-truncate">Blue jeans shorts for men</a>
            <small class="text-muted">Sizes: S, M, XL</small>
          </figcaption>
        </figure>
      </div>--> <!-- col end.// -->
      <!--<div class="col-lg-3 col-md-6 col-sm-6">
        <figure class="card-product-grid">
          <a href="#" class="img-wrap rounded bg-gray-light"> 
            <img height="250" class="mix-blend-multiply" src="assets/images/items/10.webp"> 
          </a>
          <figcaption class="pt-2">
            <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
            <strong class="price">$9.50</strong>--> <!-- price.// -->
            <!--<a href="#" class="title text-truncate">Slim fit T-shirt for men</a>
            <small class="text-muted">Sizes: S, M, XL</small>
          </figcaption>
        </figure>
      </div>--> <!-- col end.// -->
      <!--<div class="col-lg-3 col-md-6 col-sm-6">
        <figure class="card-product-grid">
          <a href="#" class="img-wrap rounded bg-gray-light"> 
            <img height="250" class="mix-blend-multiply" src="assets/images/items/11.webp"> 
          </a>
          <figcaption class="pt-2">
            <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
            <strong class="price">$29.95</strong>--> <!-- price.// -->
            <!--<a href="#" class="title text-truncate">Modern product name here</a>
            <small class="text-muted">Sizes: S, M, XL</small>
          </figcaption>
        </figure>
      </div>--> <!-- col end.// -->
      <!--<div class="col-lg-3 col-md-6 col-sm-6">
        <figure class="card-product-grid">
          <a href="#" class="img-wrap rounded bg-gray-light"> 
            <img height="250" class="mix-blend-multiply" src="assets/images/items/12.webp"> 
          </a>
          <figcaption class="pt-2">
            <a href="#" class="float-end btn btn-light btn-icon"> <i class="fa fa-heart"></i> </a>
            <strong class="price">$29.95</strong>--> <!-- price.// -->
            <!--<a href="#" class="title text-truncate">Modern product name here</a>
            <small class="text-muted">Sizes: S, M, XL</small>
          </figcaption>
        </figure>
      </div>--> <!-- col end.// -->
    <!--</div>--> <!-- row end.// -->
  <!--</div>--> <!-- container end.// -->
  <!--</section>-->
  <!-- ================ SECTION PRODUCTS END.// ================ -->
  <!--<section class="padding-y-sm bg-gray-light">
    <div class="container">
        <div class="row gy-3 align-items-center">
          <div class="col-md-4">
            <form>
              <div class="input-group">
                <input class="form-control" type="text" placeholder="Email">
                <button class="btn btn-light" type="submit"> Subscribe  </button>
              </div>--> <!-- input-group.// -->
            <!--</form>
          </div>
          <div class="col-md-8">
            <nav class="float-lg-end">
                <a class="btn btn-icon btn-light" title="Facebook" target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-icon btn-light" title="Instagram" target="_blank" href="#"><i class="fab fa-instagram"></i></a>
                <a class="btn btn-icon btn-light" title="Youtube" target="_blank" href="#"><i class="fab fa-youtube"></i></a>
                <a class="btn btn-icon btn-light" title="Twitter" target="_blank" href="#"><i class="fab fa-twitter"></i></a>
            </nav>
          </div>
        </div>--> <!-- row.// -->
    <!--</div>--><!-- //container -->
  <!--</section>-->
<app-footer></app-footer>
